[Unit]
Description=Try the proven.provably.fast runner every 10 minutes

[Timer]
OnBootSec=10min
OnUnitInactiveSec=10min

[Install]
WantedBy=timers.target
